/* Menu background color */
.bg-menu {
	background-color: #0071BC;
	color: white;
	text-decoration: none;
	padding: 30px;
	border-bottom: solid 1px lightgray;
}

.route-name {
	margin-top: 20px;
}

/* Style the menu button */
.btn-menu {
    cursor: pointer;
}

/* Style the active class, and buttons on mouse-over */
.active, .btn-menu:hover {
    background-color: #666;
    color: white;
}
