.sidebar {
	position: fixed;
	height: 100%;
	z-index: 1000;
	overflow: auto;
}

.content {
	margin-left: 155px;
}

/* Menu background color */
.bg-menu {
	background-color: #0071BC;
	border-bottom: solid 1px lightgray;
	list-style-type: none;
	margin-left: -25px;
}

.btn-menu a {
	text-decoration: none;
	color: white;
	padding: 28px;
	display: block;
}

/* Style buttons on mouse-over */
 .btn-menu:hover {
    background-color: #666;
    cursor: pointer;
}

.route-name {
	background-color: #f2f2f2;
	padding: 15px;
}

